<!--
 * @Date: 2024-02-22 22:16:16
 * @LastEditTime: 2024-02-22 22:16:20
 * @Author: wangyongjie
 * @Note:  
-->
---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Repository Content List</title>
</head>
<body>
  <h1>Repository Content List</h1>
  <ul>
    {% for file in site.github.public_repositories[0].contents %}
      <li><a href="{{ file.html_url }}">{{ file.name }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>